<div class="landing">
  <div class="landing-nav">
    <a id="header" href="#/">Playlist</a>
    <div class="landing-menu-links">
      <a href="#/play">Generate</a>
      <a style="cursor: pointer" data-modal-target="#modal">Add New Item</a>
    </div>
  </div>

  <div id="list"></div>
</div>

<!-- MODAL PART -->

<!-- The Modal -->
<div id="modal" class="modal">
  <div class="modal-header">
    <div class="title">Add New Item</div>
    <button data-close-button class="close-button">&times;</button>
  </div>
  <div class="modal-body">
    <div class="modal-input">
      <label for="title">name :</label>
      <input  type="text" name="" id="" required/>
    </div>
    <div class="modal-input">
      <label for="title">url :</label>
      <input  type="text" name="" id="" required/>
    </div>
    <div class="modal-input">
      <label for="title">weight :</label>
      <input  type="range"  min="0" max="10" step="1" required />
    </div>

    <div class="approve-button">
      <button class="cancel">Cancel</button>
      <button class="save">Save</button>
    </div>
  </div>
  
</div>
<div id="overlay"></div>
