<div class="landing">
  <div class="landing-nav">
    <a id="header" href="#/">Playlist</a>
    <div class="landing-menu-links">
      <a href="#/play">Generate</a>
      <a style="cursor: pointer" data-modal-target="#modal">Add New Item</a>
    </div>
  </div>

  <div class="list">liste bos :( sevdigin sarkilari eklemeye basla hadi!</div>
</div>


<!-- MODAL PART -->

<!-- The Modal -->
<div id="modal" class="modal">
  <div class="modal-header">
    <div class="title">Example</div>
    <button data-close-button class="close-button">&times;</button>
  </div>
  <div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia fuga
    quo dolorum modi dolor totam impedit necessitatibus voluptatem quibusdam
    odio, earum, exercitationem quas accusantium delectus, incidunt voluptates.
    Deserunt, quas. Totam esse possimus dolores, dignissimos commodi, officia
    fuga repellat
  </div>
</div>
<div id="overlay"></div>
