* {
  font-family: 'Open Sans', sans-serif;
}

/* navbar start */

body {
  background-color: rgb(0, 0, 0);
}

* {
  font-weight: 500;
}

#main-logo {
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

.nav-menu-links a:not(:first-child) {
  margin-left: 20px;
  padding: 10px;
}

.nav-menu-links a:first-child {
  margin-left: 20px;
  padding: 10px;
  border-radius: 40%;
}

.nav-menu-links a:hover:not(:first-child) {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
}

.playlist-link-active {
  color: rgb(255, 255, 255);
  background-color: rgb(231, 16, 16);
}

/* navbar end */

/* landing page start */

.head-line {
  font-size: large;
}

.landing {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  height: 100%;

  margin-top: 5%;
  border: 1px solid white;
}

.landing a {
  color: rgb(66, 66, 66);
  font-weight: 600;
}

.landing-menu-links a {
  padding: 10px;
  border-radius: 5px;
}

.landing-nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
}

.landing-menu-links {
  margin-left: auto;
}

.list {
  padding: 20px;
  color: white;
  font-size: 16px;
}

/* modal */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 60%;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.modal-header .title {
  font-size: 16px;
  font-weight: 600;
}

.modal-body {
  padding: 15px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.25em;
  font-weight: 600;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.modal-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-input input {
  margin-left: auto;
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  padding-left: 15px;
}

input:focus {
  border: none;
}

.approve-button {
  display: flex;
  justify-content: flex-end;
}

.cancel {
  background-color: rgb(235, 235, 235);
  padding: 13px 16px;
  color: rgb(48, 48, 48);
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 8px;
  cursor: pointer;
}

.save {
  background-color: rgb(34, 199, 149);
  padding: 13px 16px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 8px;
  cursor: pointer;
}

label {
  font-weight: 600;
}

.list-item {
  list-style: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 20px;
}

.list-item-content-buttons {
  margin-left: 30%;
}

.list-item-content-text-description {
  margin-left: 40px;
  font-weight: 600;
}

#list {
  background: rgb(255, 255, 255);
  background: linear-gradient(225deg, rgb(67, 80, 255) 39%, rgba(255, 0, 234, 0.796) 100%);
}

.list-item-content-text-weight {
  margin-left: auto;
}
