/* navbar start */

body {
  background-color: blue;
}

* {
  font-weight: 500;
}

#main-logo {
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

.nav-menu-links a:not(:first-child) {
  margin-left: 20px;
  padding: 10px;
}

.nav-menu-links a:first-child {
  margin-left: 20px;
  padding: 10px;
  border-radius: 40%;
}

.nav-menu-links a:hover:not(:first-child) {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
}

.playlist-link-active {
  color: rgb(255, 255, 255);
  background-color: rgb(231, 16, 16);
}

/* navbar end */

/* landing page start */

.head-line {
  font-size: large;
}

.landing {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  height: 100%;

  margin-top: 5%;
  border: 1px solid white;
}

.landing a {
  color: rgb(66, 66, 66);
  font-weight: 600;
}

.landing-menu-links a {
  padding: 10px;
  border-radius: 5px;
}

.landing-nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
}

.landing-menu-links {
  margin-left: auto;
}

.list {
  padding: 20px;
  color: white;
  font-size: 16px;
}

/* modal */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.modal-header .title {
  font-size: 20px;
  font-weight: 600;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.25em;
  font-weight: 600;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay.active {
  pointer-events: all;
  opacity :1 ;
}
